**출처 : 파이썬 머신러닝 판다스 데이터 분석, 오승환 지음, 정보문화사**

### [산술연산]

- [**시리즈 연산**](#시리즈-연산)
    - [시리즈 vs 숫자](#시리즈-vs-숫자)
    - [시리즈 vs 시리즈](#시리즈-vs-시리즈)
    - [연산 메소드](#연산-메소드)

- [**데이터프레임 연산**](#데이터프레임-연산)
    - [데이터프레임 vs 숫자](#데이터프레임-vs-숫자)
    - [데이터프레임 vs 데이터프레임](#데이터프레임-vs-데이터프레임)

----

# 산술연산

## 시리즈 연산

### 시리즈 vs 숫자

* 시리즈와 숫자 연산 : 시리즈객체 + 연산자(+, -, *, /) + 숫자

In [1]:
import pandas as pd

# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student1

국어    100
영어     80
수학     90
dtype: int64

In [2]:
# 학생의 과목별 점수를 200으로 나누기
percentage = student1 / 200

print(type(percentage))
print()
print(percentage)

<class 'pandas.core.series.Series'>

국어    0.50
영어    0.40
수학    0.45
dtype: float64

### 시리즈 vs 시리즈

* 시리즈와 시리즈 연산 : 시리즈객체1 + 연산자(+, -, *, /) + 시리즈객체2

In [3]:
import pandas as pd

# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':80})

print(student1)
print()
print(student2)

국어    100
영어     80
수학     90
dtype: int64

수학    80
국어    90
영어    80
dtype: int64

In [4]:
# 두 학생의 과목별 점수로 사칙연산 수행
addition = student1 + student2              # 덧셈
subtraction = student1 - student2           # 뺄셈
multiplication = student1 * student2        # 곱셈
division = student1 / student2              # 나눗셈
print(type(addition))
addition

<class 'pandas.core.series.Series'>

국어    190
수학    170
영어    160
dtype: int64

In [5]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, subtraction, multiplication, division],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(type(result))
result

<class 'pandas.core.frame.DataFrame'>

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

* NaN값이 있는 시리즈 연산

In [6]:
import pandas as pd
import numpy as np

# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1)
print()
print(student2)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

In [8]:
# 두 학생의 과목별 점수로 사칙연산 수행 (시리즈 vs. 시리즈)
addition = student1 + student2              # 덧셈
subtraction = student1 - student2           # 뺄셈
multiplication = student1 * student2        # 곱셈
division = student1 / student2              # 나눗셈
print(type(division))
addition

<class 'pandas.core.series.Series'>

국어      NaN
수학    170.0
영어      NaN
dtype: float64

In [9]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, subtraction, multiplication, division],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
result

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

### 연산 메소드

* 연산 메소드 사용(시리즈와 시리즈 덧셈) : 시리즈객체1.add(시리즈객체2, fill_value=0)

In [10]:
import pandas as pd
import numpy as np

# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1)
print()
print(student2)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
dtype: int64

In [11]:
# 두 학생의 과목별 점수로 사칙연산 수행 (연산 메소드 사용)
sr_add = student1.add(student2, fill_value=0)    # 덧셈
sr_sub = student1.sub(student2, fill_value=0)    # 뺄셈
sr_mul = student1.mul(student2, fill_value=0)    # 곱셈
sr_div = student1.div(student2, fill_value=0)    # 나눗셈

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div],
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
result

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

## 데이터프레임 연산

### 데이터프레임 vs 숫자

* 데이터프레임과 숫자 연산 : 데이터프레임객체 + 연산자(+, -, *, /) + 숫자

In [12]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data)
ndf = df.set_index(['이름'])
ndf

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [13]:
addition = ndf + 10
addition

     수학   영어   음악   체육
이름
서준  100  108   95  110
우현   90   99  105  100
인아   80  105  110  100

### 데이터프레임 vs 데이터프레임

* 데이터프레임의 연산자 활용 : 데이터프레임객체1 + 연산자(+, -, *, /) + 데이터프레임객체2

In [15]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data)
ndf = df.set_index(['이름'])
ndf

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [14]:
ndf1 = ndf + ndf
ndf1

     수학   영어   음악   체육
이름
서준  180  196  170  200
우현  160  178  190  180
인아  140  190  200  180

In [16]:
ndf1.drop('우현', inplace=True)
ndf1

     수학   영어   음악   체육
이름
서준  180  196  170  200
인아  140  190  200  180

In [17]:
ndf2 = ndf + ndf1
ndf2

       수학     영어     음악     체육
이름
서준  270.0  294.0  255.0  300.0
우현    NaN    NaN    NaN    NaN
인아  210.0  285.0  300.0  270.0